.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  width: 420px;
  height: 104px;
}

.items {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  max-width: 150px;
  height: 48px;
  background: var(--categories);
}

.microwaveIcon,
.gasIcon,
.waterIcon {
  fill: none;
  stroke: var(--black);
}
